CAPTURE_INTERVAL_SECONDS=120
CONFIDENCE_THRESHOLD=0.5
STABILIZATION_WINDOW=3
CAMERA_WARMUP_SECONDS=0.5
EDGE_MARGIN_PIXELS=10
ASPECT_RATIO_MIN=0.5
ASPECT_RATIO_MAX=2.0
VIDEO_LOOP=true
MODEL_PATH=../models/counter-yolo26n.pt

